<!-- user-profile.component.html -->

<div class="profile-page">
  <app-navbar></app-navbar>
  <h2 class="profile-title">Your Profile</h2>

  <form class="profile-form">
    <mat-form-field>
      <label for="username">Username</label>
      <input matInput [(ngModel)]="userData.Username" placeholder="Username" type="text" name="Username" required>
    </mat-form-field>

    <mat-form-field>
      <label for="password">Password</label>
      <input matInput [(ngModel)]="userData.Password" type="password" placeholder="Password" name="Password" required>
    </mat-form-field>

    <mat-form-field>
      <label for="email">Email</label>
      <input matInput [(ngModel)]="userData.Email" type="email" placeholder="Email" name="Email" required>
    </mat-form-field>

    <mat-form-field>
      <label for="bio">Bio</label>
      <input matInput [(ngModel)]="userData.Bio" type="string" placeholder="Update Bio" name="Bio" required>
    </mat-form-field>

    <mat-card-actions>
      <button class="update-btn" mat-raised-button (click)="updateUser()" color="primary">
        Update User
      </button>
      <button class="delete-btn" mat-raised-button (click)="deleteUser()" color="">
        Delete User
      </button>
    </mat-card-actions>
  </form>
<!-- here we iterate the favorite movies and create a new div with the title and imagepath of each movie-->
<h2>Your Favorite Movies</h2>  
<div class="movie-container">
    <div *ngFor="let favoriteMovie of favoriteMovies" class="movie-item">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="favmovie-title"> {{ favoriteMovie.Title }} </mat-card-title>
        </mat-card-header>
        <img class="favmovie-image" [src]="getImageUrl(favoriteMovie.ImagePath)" alt="{{ favoriteMovie.Title }}" />
      </mat-card>
      
    </div>
  </div>
</div>
